.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F4F5F7;
  text-align: center;
}

.mainBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
}

textarea, input, button {
  font-family: inherit;
  font-size: 100%;
}

textarea {
  padding: 5px;
  width: 35vw;
  height: 65vh;
  border-radius: 5px;
  font-size: 0.8rem;
}

button {
  margin-top: 25px;
  width: 200px;
  border-radius: 5px;
}

footer {
  margin-top: auto;
}
